.navbar-nav a:hover {
  color: #fff; /* changes text color to white */
  background-color: #87a96b; /* changes background color to blue */
  border-radius: 3px; /* adds rounded corners to the link */
  padding: 1px; /* adds padding to the link */
}

/******** Flip card *********/
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: #ffffff;
  color: #000000;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**********  Canvas **************/
.user-canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;

  background-color: #f8f9fa;
  z-index: 2;
  transform: translateX(300px);
  transition: transform 0.3s ease-in-out;
}

.user-canvas-content {
  padding: 20px;
}

.user-canvas-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .user-canvas {
    width: 100%;
    transform: translateX(100%);
  }
}

@media only screen and (min-width: 992px) {
  .user-canvas-content {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-control {
  font-size: 14px;
}

.btn-primary {
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #2f80ed;
  border-color: #2f80ed;
}

.btn-primary:hover {
  background-color: #1d5bbf;
  border-color: #1d5bbf;
  cursor: pointer;
}

:root {
  --primary: #3cb815;
  --secondary: #f65005;
  --light: #f7f8fc;
  --dark: #111111;
}
.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}
.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.bg-icon {
  background: url(../img/bg-icon.png) center center repeat;
  background-size: cover;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.1s;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-outline-primary:hover,
.btn.btn-outline-secondary:hover {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 40px;
  height: 40px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Navbar ***/
.fixed-top {
  transition: 0.5s;
}

.top-bar {
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
  padding: 25px 15px;
  color: #555555;
  font-weight: 500;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--dark);
}
